.field-wrapper {
    width: 96%;
    padding: 2%;
    margin: auto;
    font-size: 1em;
}

.field {
    margin-top: 0.5em;
    /*width: 90%;*/
}

.field-name {
    width: 30%;
}

textarea {
    width: 100%;
    height: 15em;
}

input[type=text] {
    width: 100%;
    height: 2em;
}

input, textarea {
    font-size: 0.9em;
}

input[type=checkbox] {
    width: 2em;
    /*visibility: hidden;*/
    display: none;
}

input[type=file] {
    /*opacity: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
}

.form-content {
    width: 85%;
    padding: 2em;
    background-color: #f2f3f3;
    margin: auto;
    border-radius: 2px;
    height: auto;
    overflow: hidden;
}


.checkboxes {
    max-height: 10em;
    overflow: scroll;
    background-color: #FFFFFF;
}


.checkbox {
    width: 45%;
    display: inline-block;
}

.submit-button {
    float: right;
    font-size: inherit;
    font-weight: 300;
    margin: 2%;
}

.reset-button{
    float: right;
    font-size: inherit;
    background-color: #FFFFFF;
    color: #3FAB6D;
    margin: 2%;
    margin-right: 2em;
}

.upload-button {
    width: 8em;
    height: 1em;
}

.reset-button:hover {
    background-color: #3FAB6D;
    color: #FFFFFF;
}

h1 {
    color: #333333;
    font-weight: normal;
    font-size: 2em;
    padding: 2% 0 0 2%;
}

ul {
    list-style: none;
    width: 98%;
    padding: 1%;
    margin: auto;
}

li {
    width: 30%;
    min-width: 12em;
    display: inline-block;
    margin: 0.5em;
}

li label{
    text-align: center;
    display: inline-block;
    width: 94%;
    font-size: 0.9em;
    border-radius: 3px;
    background-color: #FFFFFF;
    cursor: pointer;
    padding: 3%;
    border: 2px solid #FFFFFF;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.selected-checkbox {
    /*border: 2px solid #333333;*/
    border: 2px solid #3FAB6D;
    background-color: #3FAB6D;
    color: #FFFFFF;
}