/**************************************HTML***************************************/

h1 {
    color: #333333;
    font-weight: 300;
    font-size: 2em;
    padding: 2% 0 0 2%;
    margin: 0 0 1rem 0;
}

/**************************************Fields***************************************/

.field-wrapper {
    width: 96%;
    padding: 2%;
    margin: auto;
    font-size: 1em;
}

.field {
    margin-top: 0.5rem;
    /*width: 90%;*/
}

.field-name {
    width: 30%;
}


.error-field {
    border: 2px solid #FF0033;
}

.message {
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    color: #FF0033;
}
/**************************************Input***************************************/
textarea {
    width: 100%;
    height: 15rem;
}

input[type=text] {
    width: 100%;
    height: 2rem;
}

input, textarea {
    font-size: 0.9em;
}

input[type=checkbox] {
    width: 2rem;
    /*visibility: hidden;*/
    display: none;
    /*float: left;*/
}

input[type=file] {
    /*opacity: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
}

.form-content {
    width: 85%;
    padding: 2rem;
    background-color: #f2f3f3;
    margin: auto;
    border-radius: 2px;
    height: auto;
    overflow: hidden;
}

/*********************************Checkboxes (Wrappers For)******************************/
.checkboxes {
    max-height: 10rem;
    overflow: scroll;
    text-align: center;
}


.checkbox {
    display: inline-block;
    border: 0.1rem solid #E1E1E1;
}


.checkbox .checkbox-icon path{
    stroke: none;
}


.selected-checkbox {
    /*border: 2px solid #76B2AA;*/
    /*border: 2px solid #3FAB6D;*/
    /*background-color: #3FAB6D;*/
    /*background-color: #76B2AA;*/
    /*color: #FFFFFF;*/

    color: #76B2AA;
    font-weight: bold;
}

.checkbox .checkbox-icon {
    border-color:  #7A7A7A;
    margin-right: 1rem;
}

.selected-checkbox .checkbox-icon path {
    stroke: #76B2AA;
}

/**************************************Buttons**************************************/

.submit-button {
    float: right;
    font-size: inherit;
    font-weight: 300;
    margin: 3rem;
}

.upload-button {
    width: 8rem;
    height: 1rem;
}

.help-button {
    display: inline-block;
    margin: 0 0.5rem 0 0.5rem;

}

/*****help icon*****/
.help-button svg {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 3.2em;
}

.help-button svg circle {
    fill: #FFFFFF;
}

.help-button svg text{
    stroke: #00417B;
    fill: #00417B;

    stroke-width: 0.35rem;

}

.help-button svg:hover circle{
    fill: #00417B;

}

.help-button svg:hover text {
    stroke: #FFFFFF;
    fill: #FFFFFF;

    /*stroke: #E04D25;*/
    /*fill: #E04D25;*/

}
/**************************************Roles(List)**************************************/

ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    /*background-color: #FFFFFF;*/
    /*border: 0.15rem solid lightgray;*/
    border-radius: 0.25rem;
    text-align: left;
}

li {
    width: 30%;
    min-width: 18rem;
    display: inline-block;
    margin: 0.35rem;
}

li label{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 94%;
    font-size: 0.95em;
    border-radius: 0.25rem;

    cursor: pointer;
    padding: 0.7rem;


    /*border: 2px solid #F1F1F1;*/

    /*text-align: center;*/
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    /*box-shadow: 1px 1px 1px 1px lightgray;*/
}



/**************************************Tooltips**************************************/
.ui-tooltip {
    float: right;
    border: 2px solid lightgray;
}

.ui-tooltip-content {
    padding: 1rem;
    background-color: #FFFFFF;
    color: #7A7A7A;
}