.field-wrapper {
    width: 96%;
    padding: 2%;
    margin: auto;
}

/*.field-wrapper div {*/
    /*display: inline-block;*/
/*}*/

.field {
    width: 90%;
}

.field-name {
    width: 30%;
}

textarea {
    width: 100%;
    height: 40%;
}

input[type=text] {
    width: 100%;
    height: 2em;
}

input[type=checkbox] {
    width: 2em;
    margin: 2em;
    margin-right: 0;
}


.form-content {
    width: 85%;
    padding: 2em;
    background-color: #f2f3f3;
    margin: auto;
    border-radius: 2px;
    height: auto;
    overflow: hidden;
}



.checkboxes {
    max-height: 10em;
    overflow: scroll;
    background-color: #FFFFFF;
}


.checkbox {
    width: 45%;
    display: inline-block;
}

.submit-button {
    float: right;
    font-size: inherit;
    font-weight: 300;
    margin: 1em;
}

.reset-button{
    float: right;
    font-size: inherit;
    background-color: #FFFFFF;
    color: #3FAB6D;
    margin: 1em;
    margin-right: 2em;
}

.reset-button:hover {

    background-color: #3FAB6D;
    color: #FFFFFF;
}

h1 {
    color: #333333;
    font-weight: normal;
    font-size: 2em;
    padding: 2% 0 0 2%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    width: 47%;
    font-size: 0.9em;
}