@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
    font-family: 'glober';
    src: url("../fonts/glober_book-webfont-webfont.eot");
    src: url("../fonts/glober_book-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/glober_book-webfont-webfont.woff2") format("woff2"), url("../fonts/glober_book-webfont-webfont.woff") format("woff"), url("../fonts/glober_book-webfont-webfont.ttf") format("truetype");
    font-weight: 300;
    font-style: normal; }
@font-face {
    font-family: 'glober';
    src: url("../fonts/glober_regular-webfont-webfont.eot");
    src: url("../fonts/glober_regular-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/glober_regular-webfont-webfont.woff2") format("woff2"), url("../fonts/glober_regular-webfont-webfont.woff") format("woff"), url("../fonts/glober_regular-webfont-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'glober';
    src: url("../fonts/glober_semibold_free-webfont.eot");
    src: url("../fonts/glober_semibold_free-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/glober_semibold_free-webfont.woff2") format("woff2"), url("../fonts/glober_semibold_free-webfont.woff") format("woff"), url("../fonts/glober_semibold_free-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal; }

body {
    /*font-family: "Open Sans", "sans-serif";*/
    font-family: "glober", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #7A7A7A;
    margin: auto;
    font-size: 18px;

}

a {
    text-decoration: none;
}

.h {
    text-align: right;
    width: 95%;
    padding: 1rem;
    padding-bottom: 0.5rem;
    height: auto;
    color: #3FAB6D;
    margin-bottom: 1rem;
    display: block;
    overflow: hidden;
}

.site-logo {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    width: 50%;
}

.site-logo__image {
    float: left;
    max-height: 4.875rem;
    margin: 1.3125rem 0;
}
.site-logo__text {
    float: left;
    text-align: left;
    margin: 1.375rem 0 1.375rem 0.625rem;
    font-size: 2.125rem;
    line-height: 2.375rem;
    font-weight: 300;
    color: #7a7a7a;
    /*display: none; */
}


.h h3 {
    display: inline-block;
    margin-top: 0.25rem;
    margin-right: 0.5rem;
    width: 50%;
    text-align: right;
}

#logout {
    margin: 1.3125rem 0;
    padding: 0.25rem;
    display: inline-block;
    width: 50%;
    text-align: right;

}

#logout a {
    width: auto;
}

#nav-bar {
    text-align: center;
    width: 85%;
    height: auto;
    font-size: 1.3em;
    list-style-type: none;
    border-top: 3px solid #3FAB6D;
    border-bottom: 3px solid #3FAB6D;
    background-color: white;
    margin: auto;
    color: #333333;

}

.tab {
    text-align: center;
    display: inline-block;
    width: 28%;
    padding: 1%;
    /*border: 2px solid #1f628d;*/
    color: #3FAB6D;
    /*border: 2px solid #2ba0ed;*/
    /*color: #333333;*/
    cursor: pointer;
}

.selected-tab {
    background-color: #3FAB6D;
    /*background-color:  #2ba0ed;*/
    color: #ffffff;
}

#content {
    width: 85%;
    margin: auto;
    background-color: #F2F3F3;
    padding: 2rem;
}

.elem {
    background-color: #fff;
    border-radius: 3px;
    display: block;
    /*border: 3px solid #3FAB6D;*/
    box-shadow: 1px 1px 1px 1px lightgray;
    /*color: #3FAB6D;*/
    color: #7A7A7A;
    width: 90%;
    padding: 2%;
    text-align: right;;
    margin: auto;
    margin-bottom: 1rem;
    cursor: pointer;
    list-style: none;
    overflow: hidden;
}

/*.elem:hover {*/

    /*background-color: #3FAB6D;*/
    /*color: #ffffff;*/
/*}*/


.elem-publish {
    opacity: 0.5;
}


.role.elem {
    cursor: default;
}

.add-button {
    padding: 0.1rem;
    /*float: right;*/
    font-size: 2em;
    width: 90%;
    text-align: right;
}

.elem-name {
    font-weight: normal;
    font-size: 1.2em;
    float: left;
    margin-bottom: 1rem;
}

.add-button svg {
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

.add-button svg text {
    font-size: 4rem;
}

.button:hover {
    background-color: white;
    color: #3FAB6D;
}

.button {
    font-family: inherit;
    background-color: #3FAB6D;
    color: #fff;
    border-radius: 3px;
    border: 2px solid #3FAB6D;
    width: 8rem;
    height: 2.5rem;
    cursor: pointer;
    font-size: 1em;
}

.elem-button {
    /*float: right;*/
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    display: inline-block;
    height: auto;
    margin: 0.5rem;

}

.rank {
    /*background-color: #3F9A8E;*/
    /*border: 2px solid #3F9A8E;*/
    /*color: white;*/

    background-color: #FFFFFF;
    border: 2px solid #3FAB6D;
    color: #3FAB6D;
/**/
    /*background-color: #FFFFFF;*/
    /*border: 2px solid #3F9A8E;*/
    /*color: #3F9A8E;*/

    text-align: center;
    cursor: pointer;
    width: 6rem;
    height: 1rem;
    padding: 0.5rem;
    display: inline-block;
    margin: 0.5rem;
    margin-left: 2.5rem;
    margin-bottom: 1rem;

}

.save-rank.rank {
    background-color:#3FAB6D;
    color: #FFF;

}

.rank:hover {
    /*background-color: white;*/
    /*color: #3F9A8E;*/
}

.roles-quick-view {
    height: auto;
    width: auto;
    text-align: left;
}

.quick-view-elem {
    text-align: left;
}

form {
    margin-bottom: 0;
}

.drag-icon {
    height: 1.2rem;
    float: left;
    padding: 0.25rem;
    padding-left: 0;
    margin-right: 0.7rem;

    transform: translateY(10%);
}

.drag-icon rect, .drag-icon path{
    fill: gray;
}


.expand-icon path, .retract-icon path{
    fill: #A1A1A1;
}

.expand-icon, .retract-icon {
    height: 0.6rem;
    margin: auto;
    display: block;
    width: 100%;
}



.publish, .unpublish {
    background-color: #3F9A8E;
    border: 2px solid #3F9A8E;
    color: #FFF;
}

/*.unpublish {*/
    /*background-color: #83C2BA;*/
    /*border: 2px solid #83C2BA;*/
    /*color: #FFF;*/
/*}*/


.button-disabled {
    opacity: 0.5;
    pointer-events: none;
}