@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url("login.css");
@import url("form.css");


@font-face {
    font-family: 'glober';
    src: url("../fonts/glober_book-webfont-webfont.eot");
    src: url("../fonts/glober_book-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/glober_book-webfont-webfont.woff2") format("woff2"), url("../fonts/glober_book-webfont-webfont.woff") format("woff"), url("../fonts/glober_book-webfont-webfont.ttf") format("truetype");
    font-weight: 300;
    font-style: normal; }
@font-face {
    font-family: 'glober';
    src: url("../fonts/glober_regular-webfont-webfont.eot");
    src: url("../fonts/glober_regular-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/glober_regular-webfont-webfont.woff2") format("woff2"), url("../fonts/glober_regular-webfont-webfont.woff") format("woff"), url("../fonts/glober_regular-webfont-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'glober';
    src: url("../fonts/glober_semibold_free-webfont.eot");
    src: url("../fonts/glober_semibold_free-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/glober_semibold_free-webfont.woff2") format("woff2"), url("../fonts/glober_semibold_free-webfont.woff") format("woff"), url("../fonts/glober_semibold_free-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal; }

body {
    /*font-family: "Open Sans", "sans-serif";*/
    font-family: "glober", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    width: 85%;
    color: #7A7A7A;
    margin: auto;
    font-size: 1.2em;

}

a {
    text-decoration: none;
}

.h {
    width: 100%;
    padding: 0.25em;
    height: 3em;
    /*background-color: #fff;*/
    /*color: #ffffff;*/
    color: #3FAB6D;
    margin-bottom: 2em;
    display: block;
}

.site-logo {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    width: 41.66667%;
}





.site-logo__image {
    float: left;
    max-height: 4.875rem;
    margin: 1.3125rem 0;
}
.site-logo__text {
    float: left;
    margin: 1.375rem 0 1.375rem 0.625rem;
    font-size: 2.125rem;
    line-height: 2.375rem;
    font-weight: 300;
    color: #7a7a7a;
    /*display: none; */
}


.h h3 {
    display: inline-block;
    float: right;
    right: 2em;
}


.h a {
    display: inline-block;
    float: right;
    right: 2em;

    /*     float: right; */
}

#nav-bar {
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 1.3em;
    list-style-type: none;
    border-top: 3px solid #3FAB6D;
    border-bottom: 3px solid #3FAB6D;
    background-color: white;
    color: #333333;

}

.tab {
    text-align: center;
    display: inline-block;
    width: 28%;
    padding: 1%;
    /*border: 2px solid #1f628d;*/
    color: #3FAB6D;
    /*border: 2px solid #2ba0ed;*/
    /*color: #333333;*/
    cursor: pointer;
}

.selected-tab {
    background-color: #3FAB6D;
    /*background-color:  #2ba0ed;*/
    color: #ffffff;
}

#content {
    width: 90%;
    margin: auto;
    background-color: #F2F3F3;
    padding: 2em;
}

.elem {
    background-color: #fff;
    border-radius: 3px;
    display: block;
    /*border: 3px solid #3FAB6D;*/
    box-shadow: 1px 1px 1px 1px lightgray;
    /*color: #3FAB6D;*/
    color: #7A7A7A;
    width: 90%;
    padding: 2%;
    text-align: right;;
    margin: auto;
    margin-bottom: 1em;
    /*cursor: pointer;*/
}

.elem:hover {
    /*background-color: #1f628d;*/
    background-color: #3FAB6D;
    color: #ffffff;
}

.add {
    padding: 0.1em;
    cursor: pointer;
    font-size: 2em;
    right: 0;
    /*border-radius: 100%;*/
    margin: auto;
    margin-left: 90%;
}

.elem-name {
    font-weight: normal;
    font-size: 1.2em;
    float: left;
}

.add:hover {
    /*background-color: #3FAB6D;*/
    /*color: #ffffff;*/
}

.add svg {
    height: 2em;
    width: 2em;
}

.button:hover {
    background-color: white;
    color: #3FAB6D;
}

.button {
    background-color: #3FAB6D;
    color: #fff;
    border-radius: 3px;
    border: 2px solid #3FAB6D;
    width: 8em;
    cursor: pointer;
}

.edit.button, .remove.button {
    /*float: right;*/
    margin-left: 2%;
    width: 8em;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
    display: inline-block;
}
