
*.pyc

.idea/

joincusd/mainsite/migrations/

joincusd/uploads/images/


joincusd/static/CACHE/

joincusd/static/modernizr/
joincusd/static/fastclick/
joincusd/static/colorfield/
joincusd/static/foundation/
joincusd/static/jquery-placeholder/
joincusd/static/jquery.cookie/
joincusd/static/jquery/
joincusd/static/images/
joincusd/static/jquery*

joincusd/static/admin/