/**************************************HTML***************************************/

h1 {
    color: #333333;
    font-weight: 300;
    font-size: 2em;
    padding: 2% 0 0 2%;
    margin: 0 0 1rem 0;
}

/**************************************Fields***************************************/

.field-wrapper {
    width: 96%;
    padding: 2%;
    margin: auto;
    font-size: 1em;
}

.field {
    margin-top: 0.75rem;
    /*width: 90%;*/
}

.field-name {
    margin: 0.5rem 0 0.25rem 0;
}

span.require {
    color: #FF0033;
    font-size: 1.2em;
}

.field-additional-info {
    display: block;
    font-size: 0.8em;
    margin: 0.55rem 0 0.5rem 0;
    line-height: 1.5rem;
    opacity: 0.8;
}
.error-field {
    border: 2px solid #FF0033;
}

.message {
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    color: #FF0033;
}
/**************************************Input***************************************/
textarea {
    width: 100%;
    height: 15rem;
}

input[type=text] {
    width: 100%;
    height: 2rem;
}

input, textarea {
    font-size: 0.9em;
}

input[type=checkbox] {
    width: 2rem;
    /*visibility: hidden;*/
    display: none;
    /*float: left;*/
}

input[type=file] {
    /*opacity: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
}

input[name=icon_color] {
    color: #FFFFFF !important;
}

.form-content {
    width: 85%;
    padding: 2rem;
    background-color: #f2f3f3;
    margin: auto;
    border-radius: 2px;
    height: auto;
    overflow: hidden;
}

/*********************************Checkboxes (Wrappers For)******************************/
.checkboxes {
    max-height: 10rem;
    overflow: scroll;
    text-align: center;
}


.checkbox {
    display: inline-block;
    border: 0.1rem solid #E1E1E1;
}


.checkbox .checkbox-icon path{
    stroke: none;
}


.selected-checkbox {
    /*border: 2px solid #76B2AA;*/
    /*border: 2px solid #3FAB6D;*/
    /*background-color: #3FAB6D;*/
    /*background-color: #76B2AA;*/
    /*color: #FFFFFF;*/

    color: #76B2AA;
    font-weight: bold;
}

.checkbox .checkbox-icon {
    border-color:  #7A7A7A;
    margin-right: 1rem;
}

.selected-checkbox .checkbox-icon path {
    stroke: #76B2AA;
}


/**************************************Roles(List)**************************************/

.field ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    /*background-color: #FFFFFF;*/
    /*border: 0.15rem solid lightgray;*/
    border-radius: 0.25rem;
    text-align: left;
}

.field ul li {
    width: 31%;
    min-width: 18rem;
    display: inline-block;
    margin: 0.35rem;
    line-height: 1rem;
}

.field ul li label{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 94%;
    font-size: 0.95em;
    border-radius: 0.25rem;

    cursor: pointer;
    padding: 0.7rem;

    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;

}

.photo-container {
    overflow: hidden;
}

.photo-container img {
    max-height: 15rem;
    width: auto;
}


/**************************************Tooltips**************************************/
.ui-tooltip {
    float: right;
    border: 2px solid lightgray;
    border-radius: 0.5rem;
    overflow: hidden;
}



.ui-tooltip-content {
    padding: 1rem;
    background-color: #FFFFFF;
    color: #7A7A7A;
}

.ui-helper-hidden-accessible { display:none; }