

/******************************Listing Elements***********************************/

#content, #buttons-section {
    max-width: 80rem;
    width: 85%;
    margin: auto;
    background-color: #F2F3F3;
    padding: 2rem;
    overflow: hidden;
}

#buttons-section {
    background-color: #FFFFFF;
    padding: 0 2rem 0 2rem;
}

.elem {
    background-color: #fff;
    border-radius: 3px;
    display: block;
    /*border: 3px solid #3FAB6D;*/
    box-shadow: 1px 1px 1px 1px lightgray;
    /*color: #3FAB6D;*/
    color: #7A7A7A;
    width: 90%;
    min-width: 0;
    padding: 2%;
    text-align: left;
    margin: auto;
    margin-bottom: 1rem;
    cursor: pointer;
    list-style: none;
    overflow: hidden;
}

.elem-published-false {
    opacity: 0.5;
}


.role.elem {
    cursor: default;
}

.elem-name {
    font-weight: normal;
    font-size: 1.2em;
    /*float: left;*/
    margin-bottom: 1rem;
    text-align: left;
    max-width: 10rem;
    overflow: hidden;
}

.elem-short-name {
    margin: 0 0.5rem 0 0.5rem;
    opacity: 0.7;
}


/*******************************roles preview*******************************/
.roles-quick-view {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*height: auto;*/
    width: 98%;
    text-align: left;
    float: right;
}

.roles-quick-view-elem {
    /*text-align: center;*/
    width: 25%;
    min-width: 18rem;
    display: inline-block;
    margin: 0.35rem;
    line-height: 1rem;
}

/**************************************************************************************/
.elem-button-wrapper {
    float: right;
    overflow: hidden;
    width: 60%;
    min-width: 12rem;
    display: inline-block;
}

.expand-icon-wrapper, .retract-icon-wrapper {
    display: block;
    margin: auto;
    text-align: center;
    opacity: 0.8;
    padding-top: 0.5rem;
    width: 100%;
    float: right; /*Force it to go under buttons*/
}