.elem.applicant-elem {
    cursor: default;
}

#pre-content {
    max-width: 80rem;
    width: 85%;
    height: auto;
    overflow: hidden;
    padding: 0 2rem 1.5rem 2rem;
    text-align: center;
    margin: auto;
    display: block;
}

.title {
    color: #7A7A7A;
    display: inline-block;
    width: auto;
    margin-right: 4rem;
    float: left;
    padding: 0.5rem;
}

.buttons-wrapper {
    float: right;
    text-align: right;
    display: inline-block;
    min-width: 20rem;
    width: 43%;
}

.netID {
    color: #333333;
    font-weight: bold;
    font-size: 1.2em;
    width: 15%;
    min-width: 8rem;
    float: left;
}

.applicant-other-fields {
    float: right;
    display: block;
    text-align: left;
    width: 85%;
}

.applicant-field {
    margin-bottom: 0.5rem;
}

.applicant-field-name {
    font-weight: bolder;
    margin-right: 0.5rem;
}