.cover-video {
  min-height: rem-calc(450);
  height: calc(100vh - 180px);
  width: 100%;
  @include video-thumbnail($image: "videos/video-1.jpg");

  &__overlay {
    background-color: rgba($primary-color, 0.5);
    display: block;
    width: 100%;
    height: 100%;
    
    &__controls {

      @include video-controls($text: true);

      > a {
        @include play-button($size: 110);        
      }
    }
  }
}



.homepage-blurb {
  @include grid-column($columns: 12);

  @media #{$medium-up} {
    @include grid-column($columns: 7);
  }
}

.homepage-videos {
  @include grid-column($columns: 12);

  @media #{$medium-up} {
    @include grid-column($columns: 4, $offset: 1);
  }

  .video-preview:not(:last-child) .video-preview__thubnail {
    margin-bottom: rem-calc(48);
  }
}

.homepage-callouts {
  padding-top: rem-calc(72);
  @include grid-row();

  .icon {
    width: 100%;
    height: 150px;
  }

  > h3 {
    @include grid-column($columns: 12);

    &:not(:last-child) {
      margin-bottom: rem-calc(32);
    }
  }


  > article {
    @include grid-column($columns: 12);

    @media #{$small-only} {
      &:not(:last-child) {
        margin-bottom: rem-calc(32);
      }
    }

    @media #{$medium-up} {
      @include grid-column($columns: 4);
    }
  }

  &__panel {
    @include callout-panel();
  }
}