/***********************************Buttons General*************************************/
.admin-button:hover {
    background-color: white;
    color: #3FAB6D;
}

/*.button {*/
    /*font-family: inherit;*/
    /*background-color: #3FAB6D;*/
    /*color: #fff;*/
    /*border-radius: 3px;*/
    /*border: 2px solid #3FAB6D;*/
    /*min-width: 8rem;*/
    /*height: 2.5rem;*/
    /*cursor: pointer;*/
    /*font-size: 1em;*/
/*}*/

.admin-button {
    font-family: inherit;
    background-color: #3FAB6D;
    color: #fff;
    border-radius: 3px;
    border: 2px solid #3FAB6D;
    width: 8rem;
    /*width: auto;*/
    cursor: pointer;
    font-size: 1em;
    height: auto;
    padding: 0.5rem;
    text-align: center;
}


.button-disabled {
    opacity: 0.5;
    pointer-events: none;
}

/***********************************Login Page Buttons*************************************/

.login-button {
    width: 100%;
    margin-top: 0.75rem;
}

/***********************************Admin Home Buttons*************************************/

/*****Add Button*****/
.add-button {
    padding: 0.1rem;
    float: right;
    font-size: 2em;
    /*width: 45%;*/
    display: inline-block;
    text-align: right;
}

/*****Verify Button*****/
.verify-applications-button {
    width: 8rem;
    display: inline-block;
    background-color: #83C2BA;
    border-color: #83C2BA;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    height: auto;
    margin: 0.5rem;
}

.verify-applications-button:hover {
    color: #83C2BA;
    background-color: #FFFFFF;
}

/*****Element (Listing) buttons*****/
.elem-button {
    float: right;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    display: inline-block;
    height: auto;
    margin: 0.5rem;
}

.edit-button {
    background-color: #69C26C;
    border-color: #69C26C;
}

.edit-button:hover {
    color: #69C26C;
}

.publish-button {
    background-color: #3F9A8E;
    border: 2px solid #3F9A8E;
    color: #FFF;
}

.publish-button:hover {
    color: #3F9A8E;
}


/*****remove buttons*****/
.remove-button {
    float: left;
    position: relative;
    display: inline-block;
    color: transparent;
    background-color: transparent;
    border: none;
    height: auto;
    width: auto;
    margin: 0;
    transform: translate(-1rem, -1rem);
}

/*****rank buttons*****/
.rank-button {
    background-color: #FFFFFF;
    border: 2px solid #3FAB6D;
    color: #3FAB6D;

    text-align: center;
    cursor: pointer;
    width: 6rem;
    height: 1rem;
    padding: 0.5rem;
    display: inline-block;
    margin: 0.5rem 0.5rem 1rem 2.5rem;
    margin-left: 3%;
}

.save-rank-button{
    background-color:#3FAB6D;
    color: #FFF;
}

.rank-button:hover {
    /*background-color: white;*/
    /*color: #3F9A8E;*/
}

/***********************************Form Buttons*************************************/

.submit-button {
    float: right;
    font-size: inherit;
    font-weight: 300;
    margin: 2rem;
    margin-right: 4%;
}

.upload-button {
    width: 8rem;
    height: 1rem;
}

.help-button {
    display: inline-block;
    margin: 0 0.5rem 0 0.5rem;

}

.application-button {
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


/*** application verification  buttons***/
.clear-button, .download-button {
    display: inline-block;
    width: 10rem;
    /*padding: 0 0.5rem 0 0.5rem;*/
    /*background-color: #83C2BA;*/
    /*border-color: #83C2BA;*/
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    height: auto;
    /*margin: 0.5rem;*/
    font-size: inherit;
    font-weight: 300;
}

.clear-button {
    float: right;
    background-color:  #EE777A;
    border-color:  #EE777A;
    /*margin: 0 3rem 1rem 0;*/
    margin:  0.5rem;
}

.clear-button:hover {
    color:  #EE777A;
}

.download-button {
    float: right;
    background-color: #3F9A8E;
    border-color: #3F9A8E;
    /*margin: 0 0 1rem 3rem;*/
    margin: 0.5rem
}

.download-button:hover {
    color: #3F9A8E;
}