@font-face {
    font-family: 'glober';
    src: url('../fonts/glober_book-webfont-webfont.eot');
    src: url('../fonts/glober_book-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glober_book-webfont-webfont.woff2') format('woff2'),
         url('../fonts/glober_book-webfont-webfont.woff') format('woff'),
         url('../fonts/glober_book-webfont-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'glober';
    src: url('../fonts/glober_regular-webfont-webfont.eot');
    src: url('../fonts/glober_regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glober_regular-webfont-webfont.woff2') format('woff2'),
         url('../fonts/glober_regular-webfont-webfont.woff') format('woff'),
         url('../fonts/glober_regular-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'glober';
    src: url('../fonts/glober_semibold_free-webfont.eot');
    src: url('../fonts/glober_semibold_free-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glober_semibold_free-webfont.woff2') format('woff2'),
         url('../fonts/glober_semibold_free-webfont.woff') format('woff'),
         url('../fonts/glober_semibold_free-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}