    <footer class="site-footer" id="mobileMenu">
      <div class="site-footer__mobile-cta">
        <a class="button button--inverse" href="https://docs.google.com/forms/d/1z_U_r4fsO2PAWWIBkzUQ50Y92RjJwMxvXeMfGy4UO6Y/viewform">Apply Now</a>
      </div>
      <div class="site-footer__links-wrapper">     
        <div class="site-footer__links-wrapper__link-list">
          <h5>CUSD</h5>
          <ul>
            <li><a href="{% url 'mainsite.views.index' %}">Home</a></li>
            <li><a href="{% url 'mainsite.views.about' %}">About</a></li>
            <li><a href="{% url 'mainsite.views.projects' %}">Projects</a></li>
            <li><a href="https://docs.google.com/forms/d/1z_U_r4fsO2PAWWIBkzUQ50Y92RjJwMxvXeMfGy4UO6Y/viewform">Apply</a></li>
          </ul>
        </div>
        <div class="site-footer__links-wrapper__link-list">
          <h5>Roles</h5>
          <ul>
          {% if role_types %}
            {% for role_type in role_types %}
              <li><a href="/postings/{{role_type.pk}}">{{role_type.name}}</a></li>
            {% endfor %}
          {% else %}
              <li>Sorry, we have no role descriptions at this time.</li>
          {% endif %}
          </ul>
        </div>
        <div class="site-footer__links-wrapper__link-list site-footer__links-wrapper__link-list--extended">
          <h5>Projects</h5>
          <ul>
            {% if projects %}
              {% for project in projects %}
                {% if project.published %}
                <li><a href="/postings/{{project.pk}}">{{project.name}}</a></li>
                {% endif %}
              {% endfor %}
            {% else %}
              <li>Sorry, we have no projects at this time.</li>
            {% endif %}
          </ul>
        </div>
        <div class="site-footer__links-wrapper__link-list">
          <h5>Connect</h5>
          <ul>
            <li><a href="http://cusd.cornell.edu">CUSD Website</a></li>
            <li><a href="https://www.facebook.com/CUSustainableDesign">Facebook</a></li>
            <li><a href="https://twitter.com/CUSD">Twitter</a></li>
            <li><a href="https://vimeo.com/cusd">Vimeo</a></li>
            <li><a href="https://www.flickr.com/photos/cusd">Flickr</a></li>
          </ul>
        </div>
      </div>
      <div class="site-footer__copyright-wrapper">
        <div class="site-footer__copyright-wrapper__text">
          This website was created exclusively by CUSD student members.<br>
          <span>&copy; 2015 Cornell University Sustainable Design</span>
        </div>
      </div>
    </footer>
  </body>
</html>
