{% include 'admin-common/header.html' %}
{% load staticfiles %}

<script src="{% static 'js/verify-application.js' %}"></script>

<section id="pre-content">
<h1 class="title">Verify Applicant Submissions</h1>
<div class="buttons-wrapper">
    <a href="/admin/download_all"><div class="download-button admin-button"  name="download">Download All</div></a>
    <a href="/admin/delete_all" onclick="return confirm('Are you sure you want to delete everything?')"><div class="clear-button admin-button" name="clear">Clear All</div></a>
</div>
</section>

<section id="content">
</section>

{% include 'admin-common/footer.html' %}