{% include 'admin-common/header.html' %}
{% load staticfiles %}
<script src ="{% static 'js/form.js' %}"></script>

    <div class="form-content">
    <form id="role_form" method="post" action="{{ form.form_submit_action_url }}">
        <h1 class="form-title"> {% if is_edit %} Edit {% else %} Add {% endif %} a Role </h1>
        {% csrf_token %}
        <span id="form_error">{{form.errors}}</span>
        <div class="field-wrapper">
      Role Title: {{ form.title }}
        </div>
        <div class="field-wrapper">
      Role Description: {{form.description}}
        </div>
        <div class="field-wrapper">
      Select Projects:
      {{form.selected_projects}}
        </div>
        <div class="field-wrapper">
      Select Role Types:
      {{form.selected_role_types}}
        </div>
      <input class="submit-button button" type="submit" name="submit" value="Save">
    </form>
        </div>
{% include 'admin-common/footer.html' %}
