{% include 'admin-common/header.html' %}
{% load staticfiles %}

<script src ="{% static 'js/form.js' %}"></script>

    <div class="form-content">
        <h1 class="form-title"> Edit a {% if posting_type == "project" %} Project {% else %} Role Type {% endif %}</h1>

	{{form.errors}}

        <form id="project_form" enctype="multipart/form-data" method="post" action="{{ form_submit_action_url }}">

      {% csrf_token %}


      <div class="field-wrapper form-name">
	<div class="field-name">{{form.name.help_text}}</div>
	{{form.name}}

      </div>

      <div class="field-wrapper form-tagline">
	<div class="field-name">{{form.tagline.help_text}}</div>
	{{form.tagline}}
      </div>

      <div class="field-wrapper form-short-description">
	<div class="field-name">{{form.short_project_description.help_text}}</div>
	{{form.short_project_description}}
      </div>

      <div class="field-wrapper form-long-description">
	<div class="field-name">{{form.description.help_text}}</div>
	{{form.description}}
      </div>

      <div class="field-wrapper form-additional-description">
	<div class="field-name">{{form.additional_description.help_text}}</div>
	{{form.additional_description}}
      </div>

      <div class="field-wrapper form-icon-color">
	<div class="field-name">Icon Color:</div>
	{{form.icon_color}}
      </div>

      <div class="field-wrapper form-colored-icon">
	<div class="field-name">{{form.colored_icon.help_text}}</div>
	<div class="photo-container">
	  <img src="{% static form.instance.colored_icon.url %}">
	</div>
	{{form.colored_icon}}
      </div>

      <div class="field-wrapper form-uncolored-icon">
	<div class="field-name">{{form.uncolored_icon.help_text}}</div>
	<div class="photo-container">
	  <img src="{% static form.instance.uncolored_icon.url %}">
	</div>
	{{form.uncolored_icon}}
      </div>

      <div class="field-wrapper form-photo-one">
	<div class="field-name">{{form.photo_one.help_text}}</div>
	<div class="photo-container">
	  <img src="{% static form.instance.photo_one.url %}">
	</div>
	{{form.photo_one}}
      </div>

      <div class="field-wrapper form-photo-one-text">
	<div class="field-name">{{form.photo_one_alt_text.help_text}}</div>
	{{form.photo_one_alt_text}}
      </div>

      <div class="field-wrapper form-photo-two">
	<div class="field-name">{{form.photo_two.help_text}}</div>
	<div class="photo-container">
	  <img src="{% static form.instance.photo_two.url %}">
	</div>
	{{form.photo_two}}
      </div>

      <div class="field-wrapper form-photo-two-text">
	<div class="field-name">{{form.photo_two_alt_text.help_text}}</div>
	{{form.photo_two_alt_text}}
      </div>

      <div class="field-wrapper form-photo-three">
	<div class="field-name">{{form.photo_three.help_text}}</div>
	<div class="photo-container">
	  <img src="{% static form.instance.photo_three.url %}">
	</div>
	{{form.photo_three}}
      </div>

      <div class="field-wrapper form-photo-three-text">
	<div class="field-name">{{form.photo_three_alt_text.help_text}}</div>
	{{form.photo_three_alt_text}}
      </div>

        <div class="field-wrapper form-roles">
        <div class="field-name">Select Roles</div>
            <div class="field">{{ form.role_multiselect }}</div>
            </div>
      <input type="submit" class="submit-button button" name="submit" value="Save">
    </form>
    </div>
{% include 'admin-common/footer.html' %}
