{% include 'admin-common/header.html' %}
{% load staticfiles %}

<script src ="{% static 'js/form.js' %}"></script>
    {% if posting_type == "project" %}
    <div class="form-content project-form-content edit-form-content">
        <h1 class="form-title"> Edit a Project</h1>
    {% else %}
    <div class="form-content role-type-form-content edit-form-content">
        <h1 class="form-title"> Edit a Role Type</h1>
    {% endif %}

	{{form.errors}}

        <form id="project_form" enctype="multipart/form-data" method="post" action="{{ form_submit_action_url }}">

      {% csrf_token %}


            <div class="field-wrapper form-name">
                <div class="field-name">Name</div>
                {{form.name}}
            </div>

            <div class="field-wrapper form-tagline">
                <div class="field-name">Tagline</div>
                {{form.tagline}}
            </div>

            {% if posting_type == "project" %}
            <div class="field-wrapper form-short-description">
                <div class="field-name">Short Project Description</div>
                {{form.short_project_description}}
            </div>
            {% endif %}

            <div class="field-wrapper form-long-description">
                <div class="field-name">Starting Description</div>
                {{form.description}}
            </div>

            <div class="field-wrapper form-additional-description">
                <div class="field-name">Additional Description</div>
                {{form.additional_description}}
            </div>

      <div class="field-wrapper form-icon-color">
	<div class="field-name">Icon Color:</div>
	{{form.icon_color}}
      </div>

      <div class="field-wrapper form-colored-icon">
	<div class="field-name">Icon (in Color)</div>
	<div class="photo-container">
	  <img src="{% static form.instance.colored_icon.url %}">
	</div>
	{{form.colored_icon}}
      </div>

      <div class="field-wrapper form-uncolored-icon">
	<div class="field-name">Icon (in White)</div>
	<div class="photo-container">
	  <img src="{% static form.instance.uncolored_icon.url %}">
	</div>
	{{form.uncolored_icon}}
      </div>

      <div class="field-wrapper form-photo-one">
	<div class="field-name">Photo 1</div>
	<div class="photo-container">
	  <img src="{% static form.instance.photo_one.url %}">
	</div>
	{{form.photo_one}}
      </div>

      <div class="field-wrapper form-photo-one-text">
	<div class="field-name">Photo 1 Caption</div>
	{{form.photo_one_alt_text}}
      </div>

      <div class="field-wrapper form-photo-two">
	<div class="field-name">Photo 2</div>
	<div class="photo-container">
	  <img src="{% static form.instance.photo_two.url %}">
	</div>
	{{form.photo_two}}
      </div>

      <div class="field-wrapper form-photo-two-text">
	<div class="field-name">Photo 2 Caption</div>
	{{form.photo_two_alt_text}}
      </div>

      <div class="field-wrapper form-photo-three">
	<div class="field-name">Photo 3</div>
	<div class="photo-container">
	  <img src="{% static form.instance.photo_three.url %}">
	</div>
	{{form.photo_three}}
      </div>

      <div class="field-wrapper form-photo-three-text">
	<div class="field-name">Photo 3 Caption</div>
	{{form.photo_three_alt_text}}
      </div>

        <div class="field-wrapper form-roles">
        <div class="field-name">Select Roles</div>
            <div class="field">{{ form.role_multiselect }}</div>
            </div>
      <input type="submit" class="submit-button admin-button" name="submit" value="Save">
    </form>
    </div>
{% include 'admin-common/footer.html' %}
