{% include 'admin-common/header.html' %}
{% load staticfiles %}
<script src ="{% static 'js/form.js' %}"></script>

    <div class="form-content">
        <h1 class="form-title"> Edit a {% if posting_type == "project" %} Project {% else %} Role Type {% endif %}</h1>

        <form id="project_form" enctype="multipart/form-data" method="post" action="{{ form_submit_action_url }}">

      {% csrf_token %}

      {% for field in form.visible_fields %}
        <div class="field-wrapper">

            {%if field.name != "role_multiselect" %}
            {{ field.errors }}
            <div class="field-name">{{ field.help_text}}</div>
            
            {% if field.name == "colored_icon" %}
            <img src="{% static form.instance.colored_icon.url %}">
            {% endif %}

            {% if field.name == "uncolored_icon" %}
            <img src="{% static form.instance.uncolored_icon.url %}">
            {% endif %}

            {% if field.name == "photo_one" %}
              <img src="{{ form.instance.photo_one.url }}" />
            {% endif %}

            {% if field.name == "photo_two" %}
              <img src="{{ form.instance.photo_two.url }}" />
            {% endif %}

            {% if field.name == "photo_three" %}
              <img src="{{ form.instance.photo_three.url }}" />
            {% endif %}

            <div class="field">{{ field }}</div>
            {% endif %}

        </div>
      {% endfor %}
        <div class="field-wrapper">
        <div class="field-name">Select Roles</div>
            <div class="field">{{ form.role_multiselect }}</div>
            </div>
      <input type="submit" class="submit-button button" name="submit" value="Save">
    </form>
    </div>
{% include 'admin-common/footer.html' %}
