{% include 'admin-common/header.html' %}
{% load staticfiles %}

<script src="{% static 'js/index.js' %}"></script>


    <section id="nav-bar">
        <div id="projects-tab" class="tab">Projects</div>
        <div id="roletypes-tab" class="tab">Role Types</div>
        <div id="roles-tab" class="tab">Roles</div>
    </section> <br>

    <section id="buttons-section">
    <div class="button verify-applications-button">Verify Applications
        <a href="">
        </a>
    </div>

    <div class="add-button">
        <a class="add" href="/admin/add_project">
            <input type="submit" style="display: none;"/>
            <svg class="add-icon">
                <circle cx="50%" cy="50%" r="47%"></circle>
                <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central">+</text>
            </svg>
        </a>
    </div>
    </section>
    <section id="content">

    </section>

{% include 'admin-common/footer.html' %}