{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->

    <link rel="stylesheet" href="{% static 'styles/common.css' %}">


    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>


    <script src ="{% static 'js/common.js' %}"></script>
    <script src ="{% static 'js/list.js' %}"></script>

    <title>CUSD Admin Portal</title>
</head>
<body>
    <div class="h">
        <div class="site-logo">
        <img class="site-logo__image" src="{% static "images/CUSD-logo.svg" %}" />
        <span class="site-logo__text">Cornell University<br>Sustainable Design</span>
        </div>
        <div id="logout" class=""><a href = "/admin/login/">Log Out</a></div><br>
        <h3>Admin Portal</h3><br>
        </div><br>


    <section id="nav-bar">
        <div id="projects-tab" class="tab">Projects</div>
        <div id="roletypes-tab" class="tab">Role Types</div>
        <div id="roles-tab" class="tab">Roles</div>
    </section> <br>


    <div class="add-button">
        <a class="add" href="/admin/add_project">
            <input type="submit" style="display: none;"/>
            <svg>
                <circle fill="#FFFFFF" stroke="#3FAB6D" stroke-width="5px" cx="50%" cy="50%" r="0.9em"></circle>
                <text fill="#3FAB6D" stroke="#3FAB6D" x="50%" y="50%" text-anchor="middle" dominant-baseline="central">+</text>
            </svg>
        </a>
    </div>
    <section id="content">

    </section>

    <!-- Modal
    <div class="modal" id="modal-one" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">

                    <h2>Add a New <span> </span> </h2>

                <a href="#close" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <p>One modal example here! :D</p>
            </div>
            <div class="modal-footer">
                <a href="#close" class="btn">Nice!</a>
            </div>
        </div>
    </div>-->
</body>
</html>