{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/common.css' %}">

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src ="{% static 'js/form.js' %}"></script>
    <script src ="{% static 'js/common.js' %}"></script>
    <title></title>

</head>
<body>
    <h1> Add/Edit a project </h1>
    <div class="form-content">
    <form id="project_form" enctype="multipart/form-data" method="post" action="{{ form.form_submit_action_url }}" onsubmit="return confirmation();">

      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
          {% if hidden.html_name != "posting_type" %}
              {{ hidden }}
          {% endif %}     
      {% endfor %}

      {% for field in form.visible_fields %}
        <div class="field-wrapper">
         {{ field.errors }}
            <div class="field-name">{{ field.help_text}}</div>
            <div class="field">{{ field }}</div>

	    {% if field.name == "detail_icon_path" and form.is_edit == true %}
	        <img src="{% static form.instance.detail_icon_path.name %}">
	    {% endif %}

	    {% if field.name == "list_thumbnail_path" and form.is_edit == true %}
		<img src="{% static form.instance.list_thumbnail_path.url %}">
	    {% endif %}
        </div>
      {% endfor %}
      <input type="submit" class="submit-button button" name="submit" value="Submit">
    </form>
    </div>
</body>
</html>
