{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/common.css' %}">

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src ="{% static 'js/form.js' %}"></script>
    <script src ="{% static 'js/common.js' %}"></script>
    <title>Add or Edit A Role</title>

</head>
<body>
    <h1> Add or Edit a Role </h1>
    <div class="form-content">
    <form id="role_form" method="post" action="">
        {% csrf_token %}
        <div class="field-wrapper">
      Role Title: {{ form.title }}
        </div>
        <div class="field-wrapper">
      Role Description: {{form.description}}
        </div>
        <div class="field-wrapper">
      Select Projects:
      {{form.selected_projects}}
        </div>
        <div class="field-wrapper">
      Select Role Types:
      {{form.selected_role_types}}
        </div>
      <input class="submit-button button" type="submit" name="submit">
      <input type="reset" class="reset-button button" name="Reset" value="Reset">
    </form>
        </div>

<!--
    <div id="modal-header">
        <h1>Add or edit a <span>{{Posting}}</span></h1>
    </div>
    <div id="modal-body">

        <div class="name field-wrap">
            <div class="name field-name">Name</div>
            <div class="name field">
                <input type="text">
            </div>
        </div>
        <div class="tagline field-wrap">
            <div class="tagline field-name">Tagline</div>
            <div class="tagline field">
                <input type="text">
            </div>
        </div>
        <div class="description field-wrap">
            <div class="description field-name">Description</div>
            <div class="description field">
                <textarea rows="5"></textarea>
            </div>
        </div>
        <div class="icon field-wrap">
            <div class="icon field-name">Icon</div>
            <div class="icon field">
                <input type="file">
            </div>
        </div>
        <div class="photos field-wrap">
            <div class="photos field-name">Photos</div>
            <div class="photos field">
                <input type="file">
            </div>
        </div>
        <div class="rank field-wrap">
            <div class="rank field-name">Rank</div>
            <div class="rank field">
                <input type="number" min="1">
            </div>
        </div>

        <div class="roles field-wrap">
            <div class="roles field-name">Select Roles</div><br>
            <div class="roles field">
            </div>
        </div>

        <div class="submit-button button">Submit</div>
-->
        <script>
            $.each(postings, function(index, posting) {
                if ((posting.posting_type == "Opening")){
                    var role = "<input type='checkbox' name=" + posting.name + ">" + posting.name;
                    $(".roles.field").append(role);
                }
            });

            $(".submit-button").on('click', function() {
                var conf= confirm("Are you sure you want to submit?");
                if (conf) window.location.href = "index.html";
            })

        </script>

    </div>
</body>
</html>
