{% include 'common/header.html' %}
{% load staticfiles %}
<section class="main-content">
  <section class="about-blurb">
    <h1>Our Story</h1>
    <p>
      Cornell University Sustainable Design (CUSD) is a student run, interdisciplinary project team with a tendency towards impact. Hailing from the successful Cornell University Solar Decathlon team, we were inspired to seek out projects that could provide the same compelling and hands on learning experience, while simultaneously creating a lasting impact within a local community. Since our founding in 2009, we’ve undergone or are currently in the process of developing 11 projects in Ithaca, as part of the NYC Tech Campus, and abroad in South Africa, Nicaragua, and Ghana.
    </p>
    <h3>A Diverse Community</h3>
    <p>
      We bring together students from across all seven colleges to work alongside renowned faculty and knowledgeable professionals in our mission to create a network of proactively sustainable communities. You’ll find each team and project made up of Architects, Structural Engineers, Landscape Architects, Financial Analysts, and everything in between. Our interdisciplinary approach, both in our personnel and our problem identification and solving methodology, makes providing triple pillar sustainable solutions possible.
    </p>
    <h3>Holistic Sustainability</h3>
    <p>
      Sustainability transcends carbon dioxide emission numbers and electricity bills. We believe sustainability must meet the following three core pillars.
    </p>
    <ul>
      <li>
        Economic: Any decision and design must be finically feasible for our stakeholders and provide both short and long term value.
      </li>
      <li>
        Social: Any project must promote proactivity within the given community, identifying and building a solution for a community otherwise underserved.
      </li>
      <li>
        Ecological: Preserving and maintaining our planets diverse and fragile ecosystems.
      </li>
    </ul>
  </section>

  <aside class="about-downloads">
    <h3>Want More CUSD?</h3>
    <article class="about-downloads__panel">
      <h4>Info Packet</h4>
      <p>PDF, 6 Pages</p>
      <!--<%= link_to 'Download', 'static-documents/info%20packet_2015_08_28.pdf', class: 'button' %>-->
      <a href='static-documents/info%20packet_2015_08_28.pdf' class='button'>Download</a>
    </article>
    <article class="about-downloads__panel">
      <h4>Brochure</h4>
      <p>PDF, 2 Pages</p>
       <!--<%= link_to 'Download', 'static-documents/brochure_2015_08_28.pdf', class: 'button' %>-->
      <a href='static-documents/brochure_2015_08_28.pdf' class='button'>Download</a>
    </article>
    <article class="about-downloads__panel">
      <h4>Press Kit</h4>
      <p>ZIP</p>
      <a class="button button--disabled">Download</a>
    </article>
  </aside>
</section>
{% include 'common/footer.html' %}
